WebServiceCall/Service References/ServiceReferenceLogin/WebService6User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="User_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login_Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Login_Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="User_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="User_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:User_Login" />
  </wsdl:message>
  <wsdl:message name="User_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:User_LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService6UserSoap">
    <wsdl:operation name="User_Login">
      <wsdl:input message="tns:User_LoginSoapIn" />
      <wsdl:output message="tns:User_LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService6UserSoap" type="tns:WebService6UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="User_Login">
      <soap:operation soapAction="http://tempuri.org/User_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService6UserSoap12" type="tns:WebService6UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="User_Login">
      <soap12:operation soapAction="http://tempuri.org/User_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService6User">
    <wsdl:port name="WebService6UserSoap" binding="tns:WebService6UserSoap">
      <soap:address location="http://localhost:54668/WebService6User.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService6UserSoap12" binding="tns:WebService6UserSoap12">
      <soap12:address location="http://localhost:54668/WebService6User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>