WebServiceCall/Service References/ServiceReferenceDS/WebService5DS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get_Title">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ap_sqlno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_TitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_TitleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_TitleSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Title" />
  </wsdl:message>
  <wsdl:message name="Get_TitleSoapOut">
    <wsdl:part name="parameters" element="tns:Get_TitleResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService5DSSoap">
    <wsdl:operation name="Get_Title">
      <wsdl:input message="tns:Get_TitleSoapIn" />
      <wsdl:output message="tns:Get_TitleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService5DSSoap" type="tns:WebService5DSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Title">
      <soap:operation soapAction="http://tempuri.org/Get_Title" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService5DSSoap12" type="tns:WebService5DSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Title">
      <soap12:operation soapAction="http://tempuri.org/Get_Title" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService5DS">
    <wsdl:port name="WebService5DSSoap" binding="tns:WebService5DSSoap">
      <soap:address location="http://localhost:54668/WebService5DS.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService5DSSoap12" binding="tns:WebService5DSSoap12">
      <soap12:address location="http://localhost:54668/WebService5DS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>